* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input[name="search-character"] {
  border: none;
  height: 30px;
}

input[name="search-character"]:focus {
  outline: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.multi-select-container {
  width: 400px;
  height: 400px;
}

.selected-characters-container {
  margin-top: 20px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 4px;
  padding-right: 40px;
  border: 1px solid #94a3b8;
  border-radius: 12px;
  position: relative;
}

.selected-character {
  padding: 5px;
  text-wrap: nowrap;
  border-radius: 8px;
  color: #334154;
  font-size: 14px;
  margin-right: 4px;
  background-color: #E2E8F0;
}

.selected-character-delete-button {
  cursor: pointer;
  margin-left: 5px;
  background-color: #94a3b8;
  border: none;
  color: #f7fafc;
  padding: 3px 5px;
  border-radius: 5px;
  line-height: 14px;
}

.selected-character-down-arrow {
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
}

.search-character-input {
  width: 0px;
  min-width: 30px;
  flex-grow: 1;
  margin-right: 4px;
}

.filtered-characters-container {
  margin-top: 10px;
  border: 1px solid #94a3b8;
  border-radius: 15px;
  max-height: 300px;
  overflow-y: scroll;
}

.filtered-characters-content-status {
  padding: 15px;
  color: #666666;
}

.filtered-character-input {
  margin-right: 12px;
  cursor: pointer;
}

.filtered-character-container {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.filtered-character-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: "100%";
}

.filtered-character-info-title {
  font-size: 14px;
  color: #475569;
  font-weight: 400;
}

.filtered-character-info-episode {
  font-size: 14px;
  color: #738197;
  font-weight: 400;
}

.filtered-character-image {
  margin-right: 12px;
  border-radius: 6px;
}

.gray-bg {
  background-color: #dfdfdf;
  /* #bec5ce */
}

